# Remove [I]Python caching
__pycache__
.ipynb_checkpoints

# Remove Mac shit
.DS_Store

# Remove Vim temp files
*sw*

# Ignore Data files
*.tar.gz
*.feat
*.txt
*.data
.idea/
*.pth
*-ubyte
*.pt
*.png
!docs/**/*.png
imdb
logs
.jekyll-cache
_site
.vscode
.env

experiments/binary_image/wandb
experiments/binary_image/checkpoints/*.pth

experiments/image/wandb
experiments/image/checkpoints/*.pth


experiments/text/wandb

experiments/misc/vq_vae/wandb
experiments/misc/vq_vae/checkpoints/*.pth

tests/theory/wandb
wandb/